.icono{
    height: 50px;
    width: 50px;
    background-color: rgba(13, 92, 240,0.8);
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgba(12, 10, 10, 0.7);
}
.icono-full{
    height: 200px;
    width: 210px;
    background-color: rgba(240, 236, 13, 5);
    padding: 15px;
    border-radius: 0px 0px 100px 100px;
    border:1.5px outset rgba(12, 10, 10, 0.7);
}

body{
    font-family: 'Staatliches', cursive;
}
.icon-bat{
    width: 50px;
    margin: 0 20px;
}
.img-home{
    max-width: 80vw;
    margin: 0 0 50px 0;
}